
section#about-me-section{
    width: 90vw;
    position:relative;
    left: 10vw;
    top: 5.188vw;
}
.intro-bio, #about-me-section, #my-skills-section, .progressBars{
    display: flex;
    flex-direction: column;
    gap: 5rem;

}
.intro-bio{
    width: 100%;
    align-items: center;
}
.section-title, .my-skills{
    font-size:4.2rem;
    font-weight: 600;
    line-height: 83.5px;
    font-style: normal;
    text-align: center;
    width: 100%;
    position: relative;
    text-decoration: underline;
}


.about-me-section-profile-pic{
    height: 12.50rem;
}
.about-me-section-profile-pic img{
    max-width: 100%;
    max-height: 100%;
}
.small-bio{
    font-size:30px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    line-height: 37px;
    width:97%;
}
#my-skills-section{
    position: relative;
    bottom: -2px;
}
label{
    display: block;
    margin-left: 1rem;
}
progress{
    height:3rem;
    width: 100%;
    border: 0;
    margin-left: 1rem;
}  
progress::-webkit-progress-bar {
    border-radius: 40px;
    background-color: #fff;
    
}
progress::-webkit-progress-value {
    background-color: #C65555;
    border-radius: 40px;
}

.progressBars{
    margin: 0 auto 0 auto;
    width: 80vw;
    gap: 0.5rem;
}
.progressBars div{
    border-radius: 20px;
}
.progress-name-label{
    font-size: 2rem;
    line-height: 37px;
}
@media only screen and (min-width: 320px) and (max-width:425px) {
    /* About ME */
    section#about-me-section{
        width: 100vw;
        left: 0;
        gap:10vw;
    }
    .section-title,.my-skills{
        font-size: 2.3rem;
        line-height: 40px;
    }
    .about-me-section-profile-pic{
        height: 6.25rem;
    }
    .small-bio{
        font-size: 15px;
        line-height: 17px;
        height: auto;
    }
    progress{
        height: 1rem;
    }
    .progressBars{
        gap:0;
    }
    .progress-name-label{
        font-size: 1rem;
    }
    #my-skills-section{
        top: 0;
        gap: 2.5rem;
    }
    .intro-bio{
        gap: 10vw;
    }
    label{
        margin: 0;
    }
    progress{
        margin: 0;
    }
}
@media only screen and (min-width: 426px) and (max-width: 1024px) {
    section#about-me-section{
        width: 100vw;
        left: 0;
        gap:10vw;
    }
    .section-title,.my-skills{
        font-size: 3rem;
        line-height: 40px;
    }
    .about-me-section-profile-pic{
        height: 6.25rem;
    }
    .small-bio{
        width: 95%;
        font-size: 20px;
        line-height: 25px;
        height: auto;
    }
    progress{
        height: 2.5rem;
    }
    .progressBars{
        gap:10px;
    }
    .progress-name-label{
        font-size: 1.5rem;
    }
    #my-skills-section{
        top: 0;
        gap: 2.5rem;
    }
    .intro-bio{
        gap: 10vw;
    }
    label{
        margin: 0;

    }
    progress{
        margin: 0;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px){
    .small-bio{
        width: 85%;
    }
    progress{
        margin-left: 2rem;
    }
    label{
        margin-left: 2rem;
    }
}
