
section#blog-section{
    width: fit-content;
    position:relative;
    /* top: 110vh; */
    left: 15vw;
}

.title-blog{
    left:37rem;
    /* text-decoration: underline; */
}
.main{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 70px;
    gap: 100px;
}

.card-main{
    height: 250px;
    width: 400px;
    background-color: #353535;
    border-radius: 25px;
    z-index: 1;

}
.card-img{
    height: 235px;
    z-index: 10;
    position: absolute;
    transition: 0.5s;
    
}
.card-img{
    max-width: 100%;
    max-height: 100%;
}
.cardText{
    font-size: 16px;
    width: 210px;
    height: 210px;
    padding-right: 10px;
    float: right;
    text-align: center;
    opacity: 0;
    font-weight: 200;
    margin-top: 21px;
}
h2{
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 45px;
}
.card-btn{
    position: relative;
    left: 215px;
    top: 180px;
}
.btn-read-more{    margin: 5px;
    height: 40px;
    font-weight: 400;
    width: 150px;
    font-size: 22px;
    line-height: normal;
    border-radius: 10px;
} 
.card-main:hover .card-img{
    height: 150px;
    width: 150px;
    transition: 0.5s;
}
.card-main:hover .cardText{
    transition: 0.5s ease-in-out;
    opacity: 1;
}
.web-dev{
    border-top: 5px solid #4fb2d9;
}
.python{
    border-top: 5px solid #31bf31;
}
.java{
    border-top: 5px solid #dc9b23;
}
.javaScript{
    border-top: 5px solid #c82d2d;
}
.cs{
    border-top: 5px solid #ece5e5;

}
