section#contact-section{
    width: 90vw;
    position:relative;
    left: 10vw;
    top: 35vh;
}
.contact-form-detail{
    width: 100%;
    margin-left: 2rem;
}
input::placeholder,textarea::placeholder{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-left: 5px;
}
input,textarea{
    outline: none;
    border: none;
    background-color: #353535;
    height: 3.125rem;
    border-radius: 10px;
}
input[type="text"] {
    padding:5px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
input[type="text"]:focus,textarea:focus{
    border-bottom: 2px solid #C65555;
}
input[type="submit"]{
    border: 2px solid #C65555;
    width: 15rem;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
#submitBtn:hover{
    border-color:#fff;
    cursor: pointer;
    color: #C65555; 
}
.name-gmail{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    gap: 20px;
}
form{
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 88%;
    margin: 2rem 0 2rem 5rem;
}

#name, #gmail{
    width: 100%;
}

.contact-form{
    width: 100%;
}
#subject{
    display: block;
    width: 100%;
}
textarea{
    max-width: 100%;
    max-height: 100%;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

textarea::placeholder{
    max-width: 100%;
    max-height: 100%;
}
#message{
    height: 30rem;
    width: 100%;
}
.title-detail{
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    margin: 5rem;
    width: 88%;
}


@media only screen and (min-width: 320px) and (max-width:425px){
    section#contact-section{
        width: 100vw;
        position:relative;
        left: 0;
        top: 15vh;
    }
    .contact-form-detail{
        margin-left: 0;
    }
    .contact-form{
        width: 100%;
    }
    .name-gmail{
        grid-template-columns: auto;
        gap: 10px;
    }
    form{
        gap: 10px;
        margin: 1rem;
    }
    #name, #gmail{
        width: 100%;
    }
    #message{
        height: 100%;
        width: 99%;
    }

    input[type="submit"] {
        width: 7rem;
        font-size: 20px;
    }
    .title-contact{
        margin: 0;
    }
    .title-detail{
        font-size: 1rem;
        width: 93%;
        margin: 2rem auto 2rem auto;
    }

    input[type="text"] {
        padding: 0;
        font-size: 25px;
    }
    input::placeholder,textarea::placeholder{
        font-size: 25px;
    }

    input{
        border-radius: 5px;
    }
    textarea{
        height: 5rem;
    }
}
@media only screen and (min-width: 426px) and (max-width:1024px){
    section#contact-section{
        width: 100vw;
        position:relative;
        left: 0;
    }
    
    div.contact-form-detail{
        margin-left: 2rem ;
    }
    #message{
        height: 20rem;
        width: 100%;
    }
    .contact-form{
        width: 98%;
    }
    form{
        margin: 2rem 2rem 2rem 1rem;
    }
    .title-detail{
        margin: 2rem 2rem 2rem 1rem;
    }
}
/* @media only screen and (min-width: 1024px) and (max-width:1440px){
    section#contact-section{
        width: 100vw;
        position:relative;
        left: 0;
    }
    #message{
        height: 20rem;
        width: 100%;
    }
    #subject{
        width: 99%;

    }
    .name-gmail{
        width: 99%;
    }
    .contact-form{
        width: 77%;
    }
    .title-detail{
        width: 75%;
    }
    form{
        margin: 2rem;
    }
} */
/* @media only screen and (min-width: 321px) and (max-width: 425px){
    section#contact-section{
        width: 100vw;
        position:relative;
    }
    
} */