/* Media Query CSS */

/* Extra small devices (phones, 600px and down) */


@media only screen and (max-width: 425px) {
    
    #loadingScreen-text {
        position: absolute;
        top: 20%;
        margin: 25%;
        z-index: 100;
    }
    .mobileDevices{
        display: block;
    }
    section#main-page-intro{
        left: 0rem;
    }
    nav{
        display: none;
    }
    .sideName{
        margin-right: 0px;
    }
    .main-content{
        left: 5vw;
        top: 40vh;
    }
    .myName{
        font-size: 20px;

    }
    .UserProfileCircle{
        height: 20px;
        width: 20px;
    }
    .UserProfileCircle img{
        left: 4px;
        top: 2px;
    }
    .bubbles span{
        height: 10px;
        width: 10px;
    }
    .title-content{
        font-size: 2.5rem;
    }
    .main-content-II-Line {
        gap: 10px;
    }
    .subtitle{
        font-size: 20px;
        top: 5px;
        left: 2.5rem;
    }
    .scroll-down{
        top: 90%;
        left: 50%;
    }
    .scrollDown-circle{
        width: 2rem;
        height: 2rem;
    }
    .vDesign{
        height: 2px;
        width: 15px;
    }
    .arrowDown{
        top: 20px;
        left: 4px;
    }
    .v-II{
        right: 30px;
        bottom: 2px;
    }
    

}
@media only screen and (max-width: 1024px){
    nav{
        display: none;
    }
    .sideName{
        display: none;
    }
    .mobileDevices{
        display: inline-block;
    }

} 
/* Small devices (portrait tablets and large phones, 600px and up) */

/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */

/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */

/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */

/* @media only screen and (max-width: 1300px) {
    nav{
        display: none;
    }
    section#main-page-intro{
        left: 0;
    }
    
}
@media only screen and (max-width: 1800px) {
    .main-content{
        left: 20%;
        
    }
} */